RETAIL_EVENT_OS_ENABLED=false
GOOGLE_SHEETS_SPREADSHEET_ID=1YtkHM5x2QEY9QHp32SLqOJibYbslH8GfJ6u0uYdVLUs
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@project-id.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"
EVENT_QA_DATE=2026-05-07T12:00:00-05:00
